[submodule "node_modules/zeppelin-solidity"]
	path = node_modules/zeppelin-solidity
	url = https://github.com/OpenZeppelin/zeppelin-solidity/
[submodule "node_modules/truffle-hdwallet-provider"]
	path = node_modules/truffle-hdwallet-provider
	url = https://github.com/kirillsurkov/truffle-hdwallet-provider
[submodule "web3usage/node_modules/web3"]
	path = web3usage/node_modules/web3
	url = https://github.com/ethereum/web3.js/
